* {
  font-family: "Funnel Display", sans-serif;
}

nav h5 {
  font-family: "UnifrakturCook", cursive;
}
nav a {
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
  font-family: "Fugaz One", sans-serif;
}
nav a:hover {
  border-bottom: 2px solid white;
}
nav {
  /* From https://css.glass */
  background: rgba(91, 206, 48, 0.14);
  border-radius: 200px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(91, 206, 48, 0.3);
  position: fixed;
  z-index: 3;
}
#home {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#content {
  position: relative;
  z-index: 1;
  top: 750px;
  height: 195px;
  background: rgba(18, 18, 18, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(18, 18, 18, 0.16);
}
.maincontainer {
  position: relative;
  width: 450px;
  height: 320px;
}
.thecard {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.thefront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: yellow;
  color: white;
}

.theback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  color: #333;
  text-align: center;
  transform: rotateY(180deg);
}
.thecard:hover {
  transform: rotateY(180deg);
}

.thecard h1 {
  background: linear-gradient(
    to right,
    rgb(199, 59, 24),
    yellow,
    gold,
    red,
    #36d805,
    #d10606,
    rgb(199, 59, 24)
  );
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: gradientanimation 8s linear infinite;
}
@keyframes gradientanimation {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#feature1 {
  font-family: "UnifrakturCook", cursive;
  background: linear-gradient(to right, white, green, white);
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: gradientanimation 3s linear infinite;
}
#testimonials {
  font-family: "UnifrakturCook", cursive;
  font-family: "UnifrakturCook", cursive;
  background: linear-gradient(to right, white, green, white);
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: gradientanimation 3s linear infinite;
}
.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 15s infinite linear;
  padding-right: 1em;
}

.carousel::-webkit-scrollbar {
  display: none;
}
.carousel {
  margin: 100px auto;
  width: 100%;

  display: flex;
  overflow-x: auto;
}
.card {
  flex: 0 0 400px;
  height: 300px;

  padding: 10px;
  background: rgba(91, 206, 48, 0.14);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(91, 206, 48, 0.3);

  border-radius: 20px;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

#about{
  font-family: "UnifrakturCook", cursive;
  background: linear-gradient(to right, white, green, white);
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: gradientanimation 3s linear infinite;

}
#aboutus p{
color: white;
text-align: justify;
font-size: 20px;
}

#contact a:hover{
  background: linear-gradient(to right, white, green, white);
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: gradientanimation 3s linear infinite;

}

footer ul{
  color: white;
  font-size: 20px;

}
footer h1{
  color: white;
  font-size: 20px;
}
footer{
   background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  margin-bottom: 4px;
}
html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 10px;


}
::-webkit-scrollbar-track{
  background: rgba(91, 206, 48, 0.14);
  border-radius: 200px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(91, 206, 48, 0.3);


}
::-webkit-scrollbar-thumb{
  background:green;
  border-radius: 20px;
}
.goup{
  width:40px;
  height: 40px;
  
 border-radius: 50%;
  position: fixed;
  bottom: 2%;
  right: 2%;
  color: white;
  background: rgba(91, 206, 48, 0.14);
  /* border-radius: 200px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(91, 206, 48, 0.3);
}